;; shadow-cljs configuration
{:source-paths
 ["src"
  "dev"
  "test"]

 :dependencies
 []

 :builds
 {:app {:target :node-script
        :main nv-zd.core/main
        :output-to "out/nv-zd.js"
        :devtools {:before-load nv-zd.core/stop
                   :after-load  nv-zd.core/start}}}}
